.form-control {
  max-width: 650px;
  text-align: center;
  margin: 20px auto;
}
.form-control input, form textarea {
  border: 0;
  outline: 0;
  padding: 0.8em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 90%;
  margin-top: 16px;
  font-family:'open_sansregular';
  font-size:16px;
  color:#424242;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
.form-select {
  border: 0;
  outline: 0;
  padding: 0.8em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 98%;
  margin-top: 16px;
  font-family:'open_sansregular';
  font-size:16px;
  color:#424242;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
.form-control input:focus {
   
  color:#000000; 
  -moz-box-shadow: 0 0px 2px #3cafe7 !important;
  -webkit-box-shadow: 0 0px 2px #3cafe7 !important;
  box-shadow: 0 0px 2px #3cafe7 !important;
}
.form-control .btn-submit {
  color: #fff;
  background: linear-gradient(45deg,#5f2c82, #49a09d);
  cursor: pointer;
  transition: 0.5s;
  width: 100%;
}
.form-control .btn-submit:hover {
 
  background-color:#424242;
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
.form-control textarea {
  height: 174px;
}
.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}
.right { width:50%;}
.left  { margin-right:2%; }
@media (max-width: 768px) {
  
  .half { width:100%; float:none; margin-bottom:0; }
}

.submit-model-edit, .submit-model-confirmation, .submit-model-cancel {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;
  align-items: center;
}

.submit-model-edit {
  background-color: #49a09d;
  margin-right: 0.5em;
}

.submit-model-confirmation {
  background-color: #49a09d;
  margin-right: 0.5em;
}

.submit-model-cancel {
  background-color: #FF0000;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

.table-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  margin-top: 50px;
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: center;
}

.icon-edit {
  color: #49a09d;
  padding-right: 0.5em;
}

.icon-delete {
  color: #FF0000;
  -ms-text-size-adjust: 10px;
}

